/* CSS Style Sheet */
body{
	background-color: #DDFFDD;
}

img{
	max-width: 100%;
}

header{
	text-align: center;
	font-weight: bold;
}

header img{
	max-width: 15em;
	margin-top: -.5em;
    margin-bottom: -.9em;
}

nav{
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

nav ul{
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

nav li{
	background-color: #000033;
	list-style-type: none;
	margin: 0em;
	padding: 0.5em;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: #00FF00;
	text-decoration: none;	/* no underline */
}

nav li:hover{
	background-color: #660000;
	color: #FFFF00;
}

nav li a{
	text-decoration: none;
}

.halfLinkLeft{
	width: 50%;
	float: left;
	margin-bottom: 0.5em;
}

.halfLinkRight{
	width: 50%;
	float: right;
	margin-bottom: 0.5em;
}

main h2{
	margin-left: 10%;
	text-decoration: underline overline;
	text-decoration-color: darkgreen;
}

main h3{
	margin-left: 15%;
	
}

main p{
	text-align: center;
}

main ul{
	margin-left: 20%;
}

main ul li{
	width: 100%;
	text-align: left;
	display: inline-block;
}

footer{
	text-align: center;
}

.container{
	background-color: #009900;
}

caption{
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: -0.5em;
}

table{
	border: 0.1em solid #000000;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

th, td{
	border: 0.1em solid #000000;
	padding: 1em;
}

th{
	background-color: #1D1D1C;
	color: #FFFFFF;
}

.mobile{
	display: inline;
}

/*tablet view*/
@media only screen and (min-width: 660px){
	nav{
		margin-bottom: 4em;
	}
	
	nav li, .halfLinkLeft, .halfLinkRight{
		display: inline;
		float: left;
		margin-left: 0.5%;
		margin-right: 0.5%;
		padding-left: 0;
		padding-right: 0;
		
		width: 19%;
		white-space: nowrap;
		border-radius: 0;
		background-color: #FFFFFF;	/* just words */
		color: #000000;
	}
	
	nav li a{
		color: #000000;
	}
	
	
	nav li:hover{
		background-color: #CCCCCC;
		color: #0000FF;
	}
	
	nav li a:hover{
		color: #FFFFFF;
	}
	
	table{
		background-color: #FFFFFF;
		width: 85%;
	}
}
/*desktop view*/
@media only screen and (min-width: 830px){
	/* header{ */
		/* text-align: left; */
	/* } */
	
	/* nav{ */
		/* float: right; */
		/* width: 60%; */
	/* } */
	
	/* nav{ */
		/* text-align: center; */
		/* width: 80%; */
	/* } */
	
	/* nav li{ */
		/* float: clear; */
	/* } */
	/* nav ul li{ */
		/* width: 16%; */
	/* } */
	
	
	nav li a{
		display: inline-block;
		color: black;
	}
	
	/* nav li a:hover{ */
		/* color: */
	/* } */
}